fastapi
uvicorn[standard]
pydantic
python-multipart

Flask
Flask-Cors

python-socketio
python-jose
passlib[bcrypt]

requests
aiohttp
async-timeout
aiocache
aiofiles

sqlalchemy
alembic
peewee
peewee-migrate
psycopg2-binary
pgvector
PyMySQL
bcrypt

pymongo
redis
boto3

argon2-cffi
APScheduler

# AI libraries
openai
anthropic
google-generativeai
tiktoken

langchain
langchain-community
langchain-chroma

fake-useragent
chromadb
pymilvus
qdrant-client
opensearch-py

sentence-transformers
colbert-ai
einops

ftfy
pypdf
fpdf2
pymdown-extensions
docx2txt
python-pptx
unstructured
nltk
Markdown
pypandoc
pandas
openpyxl
pyxlsb
xlrd
validators
psutil
sentencepiece
soundfile

opencv-python-headless
rapidocr-onnxruntime
rank-bm25

faster-whisper

PyJWT[crypto]
authlib

black
langfuse
youtube-transcript-api
pytube

extract_msg
pydub
duckduckgo-search

## Tests
docker
pytest
pytest-docker

googleapis-common-protos

## LDAP
ldap3
